/* Style Sheet for Gabriel Blan.co */

	html, body { height: 100%;}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #191919;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #9E9E9E;
		min-width: 576px;
	}
	
	h1, h2, h3 { margin: 0; padding: 0; }
	h1		   { font-size: 48px; }
	p, ol, ul  { margin-top: 0; }
	ol, ul     { padding: 0; list-style: none;}
	p, a 	   { font-size: 18px; }
	p          { line-height: 140%; }
	a          { color: #4B88C0; text-decoration: none;}
	a:hover    { color: #3A6892; }
	.container { width: 80%; margin: 0px auto; }

/* ======================================================================== */

	#header 
	{
		background-color: #ffffff;
		text-align: center;
	}

	#header-image
	{
		margin: 0 auto;
		padding: 20px 0;
	}

	#header-image img
	{
		height: 120px;
	}

	#banner > ul > li
	{
		display: inline;
	}

	#footer 
	{
	    position: absolute;
	    bottom: 0;
		width: 100%;	    
	    text-align: center;
	    background-color: #202020;
	    padding-top: 6px;
	}

	#footer > p
	{
		font-size: 9pt;
	}

	#page
	{
		margin-top: 40px;
		width: 75%;
	}

	#profile
	{
		float: left;
		width: 20%;
		text-align: center;
		margin-top: 12px;
	}

	#profile > img
	{
		width: 90%;
		margin: 0 auto;
		border: 4px solid white;
	}

	#bio
	{
		float: left;
		width: 75%;
		margin-left: 5%;
	}

	#bio > h1
	{
		font-size: 42px;
	}
